/* reset css */
*{
    font-family: 'Roboto', sans-serif;
}
/* corpo del sito */
body{
    margin: 0%;
    text-transform: uppercase;
}
/* setto il tag header - modifiche anche alla scritta logo */
header{
    background-color: #08b863;
    color: #e5ff00;
    padding: 3px;
}
/* setto due tipi di tag */
header h2, header span{
    display: inline-block;
}
/* setto la classe logo */
.logo{
    font-size: 200%;
}
/* setto la classe targhetta */
.targhetta{
    float: right;
    position: relative;
    margin-top: 2%;
    margin-right: 15px;
    font-size: 121%;
}
/* zona dei pulsanti con link */
nav{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    position: sticky;
}
/* setto il tag nav,ul */
nav ul{
    padding: 0%;
    margin: 0%;
}
/* setto il tag nav,ul,li */
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}
/* setto il tag nav,ul,li,hover - passaggio del mouse */
nav ul li:hover{
    background-color: #3f00ac;
}
/* setto il tag nav,ul,li,a */
nav ul li a{
    color: #e5ff00;
    text-decoration: none;
}
/* setto la classe home */
.home{
    background-image: url(../images/sfondo-attuale.png);
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
    width: auto;
    height: auto;
}
/* setto la classe home e setto il tag h1 */
.home h1{
    text-align: center;
    color: #ffffff;
}
/* setto la classe home e setto il tag h3 */
.home h3{
    text-align: center;
    color: #ffffff;
}
/* setto la classe ricarica_pagina,hover - passaggio del mouse */
.ricarica_pagina:hover{
    background-color: #086f3e;
}
/* setto l'id twitch */
#twitch{
    text-align: center;
    background-color: #8a2be2;
    padding: 15px;
}
/* setto la classe twitch,hover - passaggio del mouse */
.twitch:hover{
    background-color: #8a2be2;
}
/* setto l'id sticker */
#sticker{
    text-align: center;
    background-color: #808080;
    padding: 15px;
}
/* setto l'id sticker e i tag P e A */
#sticker p a{
    text-decoration: none;
    color: #ffffff;
}
/* setto la classe sticker_telegram,hover - passaggio del mouse */
.sticker_telegram:hover{
    background-color: #808080;
}
/* setto la classe ritratti,hover - passaggio del mouse */
.ritratti:hover{
    background-color: #daa520;
}
/* setto la classe playlist-yt */
.playlist-yt{
    text-align: center;
    background-color: #d32322;
    padding: 15px;
    color: #ffff;
}
/* setto id playlist_link */
#playlist_link{
    width: 784px;
    height: 440px;
}
/* setto la classe YouTube,hover - passaggio del mouse */
.YouTube:hover{
    background-color: #d32322;
}
/* setto l'id ritratti */
#ritratti{
    text-align: center;
    background-color:#daa520;
    padding: 15px;
}
/* setto la classe contatta */
.contatta{
    color: #ffffff;
    text-decoration: none;
}
/* setto la classe divisorio */
.divisorio{
    height: 2px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.64)
}
/* setto l'id social */
#social{
    text-align: center;
    background-color: #214b61;
    padding: 15px;
    color: #ffffff;
}
/* setto la classe social,hover - passaggio del mouse */
.social:hover{
    text-align: center;
    background-color: #214b61;
    padding: 15px;
    color: #ffffff;
}
/* setto l'id tattoo */
#tattoo{
    text-align: center;
    background-color:#07a817;
    padding: 15px;
}
/* setto la classe tatuaggi */
.tatuaggi{
    text-align: center;
    padding: 15px;
    color: #ffffff;
}
/* setto la classe tatuaggi,hover - passaggio del mouse */
.tatuaggi:hover{
    text-align: center;
    background-color: #07a817;
    padding: 15px;
    color: #ffffff;
}
/* setto la classe author */
.author{
    text-align: center;
    background-color: #504f4fa3;
    color: #ffffff;
}
/* setto la classe copyright */
.copyright{
    color: #ff0000;
    background-color: #171616;
    padding: 15px;
    margin: 0;
    text-align: center;
}